#copyArea3 {
    height: 11.9375rem;
    width: 97.5%;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
}

#copyArea4 {
    height: 8rem;
    margin-bottom: 1.5rem;
}

#copyIcon3 {
    margin-top: -7rem;
}