.nav {
    position: fixed;
    min-height: 100vh;
    top: 85px;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navListItem {
    font-size: 1.4em;
    font-weight: 400;
    padding: 8%;
}

.navListItem:hover {
    background-color: #D6EAE5;
}

.navListItem>a {
    color: #0B9A78;
}