.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
    margin-left: 4.4375rem;
    font-weight: 100;
    font-weight: 400;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2.2rem;
}

.navListItem {
    font-size: 1 rem !important;
    margin-bottom: 1.25rem;
    letter-spacing: 0.0165rem;
    line-height: 1.5rem;
}

.navListItem>a {
    color: #FFF;
    text-decoration: none;
    padding: 0 0 5px 0;

}

@counter-style thumbs {
    system: cyclic;
    symbols: "🟠";
    suffix: "";
}

.active {
    color: #EF6821;
    list-style: thumbs;
    margin-left: 1.23rem;
    padding-left: 0.5rem;
}

.active>a {
    color: #EF6821 !important;
}