.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
    margin-left: 4.4375rem;
    font-weight: 400;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2.2rem;
}

.navListItem {
    font-size: 1 rem !important;
    margin-bottom: 1.25rem;
    letter-spacing: 0.0165rem;
    line-height: 1.5rem;
}

.navListItem>a {
    color: #FFF;
    text-decoration: none;
}

.navListItem>a:hover {
    color: #EF6821;
}

.active {
    display: flex;
    align-items: center;
    color: #EF6821;
}

.active>a {
    color: #EF6821 !important;
    margin-left: 0.875rem;
}

.icon {
    width: 0.65rem;
    height: 0.65rem;
    background-color: #EF6821;
    border-radius: 1.875rem;
    border: 1px solid #FCA172;
    box-shadow: 0px 1.6303679943084717px 3.623039960861206px 0px rgba(0, 0, 0, 0.02), 0px 4.507758617401123px 10.017241477966309px 0px rgba(0, 0, 0, 0.03), 0px 10.852946281433105px 24.117658615112305px 0px rgba(0, 0, 0, 0.03), 0px 36px 80px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0.03rem;
}