#copyArea11 {
    height: 8rem;
    width: 97.5%;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
}

#copyArea12 {
    height: 26rem;
    width: 97.5%;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
}

#copyIcon6 {
    margin-top: -4rem;
}