.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
    display: flex;
    border-bottom: 1px solid #0B9A78;
    padding: 10px 20px 10px 30px;
    align-items: stretch;
    color: #0B9A78;
}

.headerLogo>a>img {
    width: 76px;
    height: 50px;
    cursor: pointer;
    flex-grow: 1;
}

.headerInfo {
    font-size: 2.5em;
    font-weight: bold;
    flex-grow: 10;
    text-align: center;
}

.headerChanges {
    display: flex;
}

.headerChangesLanguage {
    display: flex;
    font-size: 1.3em;
}

.headerChangesPageMode {
    display: flex;
}

.headerChangesLanguageOption {
    padding: 6px;
    cursor: pointer;
    font-weight: 600;

}

.active {
    border: 1px solid #0B9A78;
    border-radius: 25%;
    background-color: #D6EAE5;
}