#copyArea13 {
    height: 18rem;
    margin-bottom: 1.5rem;
}

#copyArea14 {
    height: 8rem;
    margin-bottom: 1.5rem;
}

#copyIcon7 {
    margin-top: -14rem;
}

#copyIcon7Notification{
    top: -269.8px;
}