body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5d6576; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5d6576; 
  }

  .componentHeading {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #0B9A78;
}

.componentParagraph {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.3em;
}

.text-bold {
    font-weight: 500;
    line-height: 1.3em;
}

.text-url {
    font-style: italic;
}

#copyIcon1,
#copyIcon2 {
    margin-top: 2px;
}

.copyIcon {
    cursor: pointer;
}

.componentTable>td,
tr,
th,
tbody
{
    border: 0.5px solid #D6EAE5;
    box-shadow: none;
}

.componentTable {
    width: 90%;
    font-size: 1.2em;
    line-height: 1.3em;
}

.componentTable td {
    padding: 20px;
    border: 2px solid #D6EAE5;
}

.componentTable thead {
    font-weight: bold;
    background-color: #D6EAE5;
}

.introductionList {
    list-style: number;
    margin-left: 20px;
    margin-top: 10px;
}

.iframe {
    background-color: #D6EAE5;
    width: 90%;
    display: block;
}