body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.component {
    padding-top: 50px;
}

.componentHeading {
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    color: #0B9A78;
    margin-top: 2rem;
    margin-bottom: 1.5rem
}

.componentParagraph {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 1%;
}

.text-url,
.text-url-free,
.text-url-list {
    overflow-wrap: break-word;
}

.text-bold {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.3em;
}

.text-bold-free {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 1rem;
    
}

.text-url {
    font-style: italic;
    font-weight: initial;
    font-size: 1em;
    line-height: 1.3em;

}

.text-url-free {
    font-style: italic;
    font-weight: initial;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #D6EAE5;
    width: 95%;
}

.text-bold-free>.text-url,
p>.text-url {
    margin-left: 1%;
}

.iframe {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #D6EAE5;
    width: 95%;
}

.text-bold-free-iframe {
    font-style: italic;
    font-weight: initial;
    font-size: 1.2em;
    line-height: 1.3em;
}

.copyIcon {
    cursor: pointer;
    margin-left: 2%;
}

.componentTable {
    margin: 1.5rem 0 1.5rem 0;
    width: 95%;
    font-size: 1.2em;
    line-height: 1.3em;
}

.componentTable>td,
tr,
th,
tbody {
    border: 0.5px solid #D6EAE5;
    box-shadow: none;
}

.componentTable td {
    padding: 20px;
    border: 2px solid #D6EAE5;
}

.componentTable thead {
    font-weight: bold;
    background-color: #D6EAE5;
}

.tableList {
    list-style: disc;
}

.tableList li {
    margin-left: 4%;
}