.main {
    display: flex;
    max-height: 95.5vh;
    overflow-y: scroll;
    flex-direction: column;
    margin-left: 20.5%;
    width: 78.5%;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: 1rem;
    right: 1rem;
    color: #152F5B;
}

.main::-webkit-scrollbar {
    display: none;
}

.headerInfo {
    font-size: 1.25rem;
    line-height: 2rem;
    /* font-weight: 600; */
    flex-grow: 10;
    font-weight: 500;
    margin-left: 10%;
    margin-top: 1.375rem;
}

.notification{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    width: 3.3125rem;
    height: 1.375rem;
    background-color: #152F5B;
    color: #FFF;
    border-radius: 4px;
    position: relative;
    left: 660px; 
    top: -40px;  
    margin-bottom: auto;
    /* text-align: center; */
}